# Dependencies
node_modules

# Build output
build
dist

# Lock files
pnpm-lock.yaml

# Environment variables (security)
.env

# OS files
.DS_Store

# IDE
.vscode

# MongoDB persistent data 
mongodb/mongo-data/*

DOCKER_HUB_DESCRIPTION.md